<!--Filename: ./views/cards.ejs-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcard App</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div class="container">
        <h1>Flashcards</h1>
        <div id="card-container"></div>

        <form id="add-card-form">
            <input type="text" id="question" placeholder="Question" required>
            <input type="text" id="answer" placeholder="Answer" required>
            <button type="submit">Add Card</button>
        </form>
    </div>

    
</html>
